@import 'variables.scss';

.label-popular {
  .price-card__label-popular {
    display: block;
  }
}

.card-basic {
  .price-card {
    &__price {
      background-color: $bg-color-basic;
    }

    &__icon {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png')
        center no-repeat;
    }

    &__order-btn {
      background-color: $bg-color-basic;
    }
  }
}

.card-business {
  .price-card {
    &__price {
      background-color: $bg-color-business;
    }

    &__icon {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png')
        center no-repeat;
    }

    &__order-btn {
      background-color: $bg-color-business;
    }
  }
}

.card-webshop {
  .price-card {
    &__price {
      background-color: $bg-color-webshop;
    }

    &__icon {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png')
        center no-repeat;
    }

    &__order-btn {
      background-color: $bg-color-webshop;
    }
  }
}
