@import 'variables.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-content;
  color: $text-color-main;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: $bg-color-main;
}

.price-table {
  display: flex;
  justify-content: space-between;
  min-width: 1176px;
}
