@import 'variables.scss';
@import 'common.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-content;
  font-family: 'Montserrat', sans-serif;
  color: $text-color-main;
}

h1,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 1440px;
  height: 1000px;
  padding: 115px 132px;
  background-color: $bg-color-main;
}

.price-table {
  display: flex;
  justify-content: space-between;
}
