@import 'variables.scss';

.price-card {
  position: relative;
  padding-top: 33px;
  padding-bottom: 40px;
  height: 770px;
  width: 380px;
  overflow: hidden;
  background: $bg-color-card;
  box-shadow: 0px 6px 6px #00000016;

  &__label-popular {
    display: none;
    position: absolute;
    top: 30px;
    right: -31px;
    transform: rotate(45deg);
    height: 25px;
    width: 147px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    background: $bg-color-label;
  }

  &__title {
    font-size: $font-size-title;
    font-weight: 700;
    line-height: $line-height-title;
    text-align: center;
  }

  &__subtitle {
    display: block;
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
    text-align: center;
  }

  &__price {
    margin-top: 33px;
    font-size: $font-size-price;
    font-weight: 700;
    line-height: $line-height-price;
    text-align: center;
  }

  &__description {
    margin: auto;
    margin-top: 40px;
    width: 327px;
    font-size: $font-size-content;
    font-weight: 300;
    line-height: $line-height-content;
    text-align: center;
  }

  &__options-list {
    margin-top: 40px;
  }

  &__option {
    padding-left: 59px;
    font-size: $font-size-content;
    font-weight: 300;
    line-height: 50px;
  }

  &__option:nth-child(odd) {
    background-color: $bg-color-option;
  }

  &__order-btn {
    display: block;
    margin: auto;
    margin-top: 39px;
    width: 154px;
    font-size: $font-size-button;
    line-height: $line-height-button;
    color: $text-color-main;
    border: none;
    border-radius: 20px;
  }
}
