$text-color-main: #fff;

$bg-color-label: #dc3f45;
$bg-color-main: #141b1c;
$bg-color-card: #334247;
$bg-color-basic: #5bb189;
$bg-color-business: #3a6ba5;
$bg-color-webshop: #ec632a;
$bg-color-option: #2a343880;

$font-size-title: 35px;
$line-height-title: 43px;
$font-size-subtitle: 20px;
$line-height-subtitle: 24px;
$font-size-content: 15px;
$line-height-content: 18px;
$font-size-button: 14px;
$line-height-button: 17px;
$font-size-price: 55px;
$line-height-price: 67px;
